/* reset básico */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #000024;
}

#screen {
    background: url(../image/bg.jpg) black;
    width: 100%;
    height: auto;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-holder {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
}

.logo {
    height: 84px;
    width: auto;
}

.logo:hover {
    /* opacidade */
    height: 90%;
    width: 90%;
    margin: 6%;
    opacity: 0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}

.button_game {
    background-color: #33FF00;
    color: white;
    height: 40px;
    width: auto;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    float: right;
}

.button_game:hover {
    background-color: #000024;
    color: #33FF00;
}

.ident {
    color: white;
}

#score {
    margin-top: 8px;
    color: white;
    font-weight: bold;
}

#menu {
    background: linear-gradient(#000024, transparent);
}

#control {
    margin-top: 14%;
}

#score {
    margin-top: 4.3%;
    background-color: #000024;
    color: white;
    height: 40px;
    width: 160px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#question {
    color: #33FF00;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    /* IE 8 */
    filter: alpha(opacity=99);
    /* IE 5-7 */
    -moz-opacity: 99;
    /* Netscape */
    -khtml-opacity: 99;
    /* Safari 1.x */
    opacity: 99;
    /* Good browsers */
}

#quest {
    background-color: #000024;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    filter: alpha(opacity=50);
    /* IE 5-7 */
    -moz-opacity: 0.5;
    /* Netscape */
    -khtml-opacity: 0.5;
    /* Safari 1.x */
    opacity: 0.5;
    /* Good browsers */
    color: white;
    margin-top: 15%;
    height: 80%;
    padding: 5%;
    border-radius: 8px;
}

#group {
    float: left;
}

footer {
    background-color: #000024;
    height: auto;
    width: 100%;
    margin: 0, 0, 0, 0;
    padding-top: 27.5px;
    padding-right: 27.5px;
    padding-bottom: 27.5px;
    padding-left: 27.5px;
    color: white;
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.developer {
    padding-top: 100%;
}
